## 📌 Required environment variables
TOKEN_SECRET=xxxxx
# 🔘 one of: development, production
NODE_ENV=development
PORT=4224
APP_PUBLIC_URL=https://localhost:4224
QUEUE_CONCURRENCY=3
RETRY_COUNT=3
STORAGE_DIR=storage
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
